//- Props:
//-   - id: string
//-   - size: string
//-   - name: string
//-   - option: string
//-     - name: string
//-     - value: string
//-     - selected: boolean
//-   - placeholder: string

mixin form-select(props={})
	-
		var tagClass = 'form-select'
		var tagControlClass = 'form-control'
		var tagWrapperClass = 'form-select-wrapper'

		var dropdownId = props.id + '-dropdown'
		var dropdownProps = { id: dropdownId, position: 'top-full' }

		var placeholder = props.placeholder ? props.placeholder : 'Empty select'
		var valueExists = props.options.filter((e) => e.selected).length
		var suffixProps = { type: 'selector' }
		var groupProps = {
			size: props.size, 
			attrs: {
				'data-toggle': 'dropdown', 
				'data-target': dropdownId 
			}
		}

	div(class=tagWrapperClass)
		+form-group(groupProps)
			select(id=props.id, name=props.name, class=tagClass)
				option(value='', disabled, selected=!valueExists) #{ placeholder }
				each option in props.options
					option(value=option.value, selected=option.selected) #{ option.name }

			div(class=tagControlClass) #{ placeholder }

			+form-group-suffix(suffixProps)
				+sprite('icon-arrow-down')

		+dropdown(dropdownProps)
			+menu-list
				each option in props.options
					+menu-list-item({ type: 'button', attrs: { 'data-value': option.value } })
						| #{ option.name }
